<section class="header">
  <div>
    <div><i class="chevron left"></i></div>
    <h2 class="market">Algemene markt</h2>
    <div><i class="chevron right"></i></div>
  </div>

  <div class="container">
    <div>
      <!-- <div><i class="chevron left"></i></div> -->
      <img class="piechart" src="https://via.placeholder.com/350x350?text=Een+piechart">
      <!-- <div><i class="chevron right"></i></div> -->
    </div>
    <article>

      <p>Hierin vind je het algemeen overzicht over alle <a href="/">TLD namen/ domeinnamen</a> die gebruikt worden in Amerika, Europa en Scandinavië.
      U kunt de visualisatie bekijken via twee kanten; een piechart met de meest gebruikte domeinnamen of via een kaart die hetzelfde weergeeft.</p>
      <a href="index.html#detail">Show me<div id="chevron-arrow-right"></div></a>
    </article>
    </div>
</section>
