<section class="intro">
  <article>
    <div id="anchor"></div>
    <h2>Wat kan ik hier vinden?</h2>
    <p>Deze website is een extensie op de website van <a href="https://www.openintel.nl">Open Intel</a>. We leggen hierin uit welke domeinnamen het meest worden gebruikt in welke landen en welke hosting hierbij het meest populair zijn.</p>
    <ul>
      <li><a href="/hosting">Hosting</a></li>
      <li><a href="/cms">CMS</a></li>
    </ul>
  </article>
</section>
