<ol>
  <li><h2><a href="#">.NL</a></h2></li>
  <li><h2><a href="#">.DE</a></h2></li>
  <li><h2><a href="#">.SE</a></h2></li>
  <li><h2><a href="#">.FI</a></h2></li>
  <li><h2><a href="#">.RU</a></h2></li>
</ol>
