* {
  scroll-behavior: smooth;
}

#anchor {
  position: relative;
  top: -380px;
}

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  background: #242424;
  display: flex;
  justify-content: center;
}

nav a {
  margin: 1.25rem 2rem;
  position: absolute;
}

nav a img {
  height: 35px;
  width: 120px;
}

main {
  font-family: 'Source Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  width: 100%;
}

main svg {
  z-index: -1;
  position: absolute;
  margin: 0 0 0 -25rem;
  height: 100vh;
}

.header {
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 2em 0;
  margin: 0 5rem;
}

.header div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header .market {
  grid-column: span 2;
  font-size: 2rem;
  color: #627af5;
  text-align: center;
  grid-column-start: 2;
  margin-bottom: 1em;
}

.header .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  /* width: 500px; */
  /* height: 500px; */
  flex-wrap: wrap;
}

.header .container div {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.chevron {
  width: 50px;
  height: 75px;
}

.chevron::before {
	border-style: solid;
	border-width: 0.125em 0.125em 0 0;
	content: '';
	display: inline-block;
	height: 2.7em;
	left: 0.9em;
	position: relative;
	top: 0.9em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 2.7em;
  color: #627af5;
  font-size: 1rem;
  z-index: -1;
}

.chevron.left::before {
	transform: rotate(-135deg);
}

.chevron.right::before {
	transform: rotate(45deg);
  left: -1rem;
}

main .header img {
  width: 250px;
  height: 250px;
  margin: 0 5rem;
  opacity: 1;
  transition: 1s;
  /* z-index: -1; */
}

.container article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .market{
  font-size: 2rem;
  color: #627af5;
  padding: 2rem;
  opacity: 1;
  transition: 1s;
}

.container article p{
    font-size: 1.25rem;
  color: #474747;
  text-align: center;
  font-family: 'Source Sans Pro',sans-serif;
}

.container article a{
  font-size: 1.25rem;
  color: #627af5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 3px;
}

.container article a:hover{
  border-bottom: 1px solid #c2cbfb;
  padding-bottom: 2px;
}


#chevron-arrow-right {
  display: inline-block;
  border-right: 2px solid #627af5;
  border-bottom: 2px solid #627af5;
  width: 10px; height: 10px;
  transform: rotate(-45deg);
  top: 2px;
  position: relative;
  z-index: -1;
}

.waves>use {
 -webkit-animation:waveAround 180s linear infinite;
 animation:waveAround 180s linear infinite
}
.waves>use:nth-child(1) {
 -webkit-animation-delay:-2s;
 animation-delay:-2s
}
.waves>use:nth-child(2) {
 -webkit-animation-delay:-2s;
 animation-delay:-2s;
 -webkit-animation-duration:30s;
 animation-duration:30s
}
.waves>use:nth-child(3) {
 -webkit-animation-delay:-4s;
 animation-delay:-4s;
 -webkit-animation-duration:14s;
 animation-duration:14s
}
.waves>use:nth-child(4) {
 -webkit-animation-delay:-10s;
 animation-delay:-10s;
 -webkit-animation-duration:8s;
 animation-duration:8s
}

@-webkit-keyframes waveAround {
 0% {
  -webkit-transform:translate(-90px,0);
  transform:translate(-90px,0)
 }
 50% {
  -webkit-transform:translateY(10px);
  transform:translateY(10px)
 }
 100% {
  -webkit-transform:translate(85px,0);
  transform:translate(85px,0)
 }
}
@keyframes waveAround {
 0% {
  -webkit-transform:translate(-90px,0);
  transform:translate(-90px,0)
 }
 50% {
  -webkit-transform:translateY(10px);
  transform:translateY(10px)
 }
 100% {
  -webkit-transform:translate(85px,0);
  transform:translate(85px,0)
 }
}

main section {
  background: #fafafa;
}

/* .intro {
  background: none;
} */

main .intro {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

main .intro article {
  display: grid;
  padding: 2.5rem;
  margin: 5rem 0;
  background: white;
  border-radius: 25px;
  align-items: center;
}

.intro article h2 {
  font-size: 42px;
  color: #627af5;
  text-align: center;
}

h3 {
  font-size: 2em;
  color: #627af5;
  text-align: left;
  padding-top: 1rem;
}

.intro article p{
  color: #474747;
  width: 500px;
  margin: 0 2.5rem;
  text-align: center
}

.intro ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-top: 1.5rem;
  flex-direction: row;
}

ul li:first-of-type {
  margin-right: auto;
  margin-left: 10em;
}

ul li:last-of-type {
  margin-left: auto;
  margin-right: 10em;
}

li > a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 15px;
  background-color: #7380F7;
}

.tab {
  padding: 5rem;
}

.tab h2 {
  width: 10rem;
  margin: 0 auto;
  background: white;
  border-radius: 25px 25px 0 0;
  font-size: 1.5rem;
  text-align: center;
  color: #627af5;
}

h2 > a {
  text-decoration: none;
  color: #444;
  padding: 0.2rem 4rem 0.15em 4rem;
  border-radius: 25px 25px 0 0;
}

h2 > a:hover {
  background-color: #627af5;
  color: #fff;
}

/* h2 > a:hover {
  border-bottom: solid 3px #627af5;
} */

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2em;
  background: #fff;
  padding: 0 2rem;
  border-bottom: solid 0.5rem #fafafa;
}

.details h3 {
  grid-column: span 2;
  margin-bottom: 1rem;
}

.details img {
  grid-column: span 2;
}

.details:last-of-type {
  border-radius: 0 0 25px 25px;
  border-bottom: none;
}

/* .tab details {
width: 250px;
color: #474747;
height: 200px;
}

.tab details > summary {
  list-style: none;
  border-bottom: 1px solid #242424;
  padding-bottom: 2px;
  margin-right: 10px;
}

.tab details > summary::before {
  content: "+";
  color:#242424;
  font-size: 22px;
  position: relative;
  top: 2.5rem;
}

.tab details > summary::-webkit-details-marker {
  display: none;
}

.tab details[open] {
  overflow-y: scroll;
}

.tab details[open] > summary::before {
  content: " ";
} */

.tab img {
  width: 500px;
  height: 200px;
  padding: 1rem;
  margin: 1.5rem auto;
}

.tab ol {
  /* width: 1000px;
  margin: 0 auto; */
  /* background: white; */
  /* padding: 2rem; */
  border-radius: 25px;
  flex-direction: row;
  display: flex;
}

.tab ol li {
  display: flex;
  margin-right: 0.5em;
}
