<section class="tab" id="detail">

    <ol>
      <li><h2><a href="#">.NL</a></h2></li>
      <li><h2><a href="#">.DE</a></h2></li>
      <li><h2><a href="#">.SE</a></h2></li>
      <li><h2><a href="#">.FI</a></h2></li>
      <li><h2><a href="#">.RU</a></h2></li>
    </ol>

    <article class="details">
      <h3>GoDaddy</h3>
      <p>18 miljoen mensen die gebruik maken van de producten van GoDaddy. Het is de grootste webhost. Met gebruik van bepaalde abonnementen krijg je 1 domeinnaam of meer, onbeperkte opslagruimte, <a href="/">SSL-certificaat</a>, <a href="/">premium DNS</a> en onbeperkt aantal databases. Bij GoDaddy kan je ook gebruik maken van domeinoverdracht.</p>
      <p>blabla nog meer tekst + links</p>
      <img src="https://via.placeholder.com/500x200"></img>
    </article>

    <article class="details">
      <h3>WordPress</h3>
      <p>Wordt vertrouwd door miljoenen bedrijven, webwinkels en bloggers. Een van de populairste platforms om een website op te maken. Kan gebruikt worden dmv een abonnement of gratis. Met abonnement kan je gebruik maken van een eigen domeinnaam, heb je geen last van advertenties en krijg je meer opslagruimte. Creatief in eigen designs/templates.</p>
      <p>blabla nog meer tekst + links</p>
      <img src="https://via.placeholder.com/500x200"></img>
    </article>

    <article class="details">
      <h3>WIX</h3>
      <p>Met Wix krijg je een eigen domeinnaam en maak je een eigen website gratis. Wanneer je een abonnement neemt dan kan je de domeinnaam aanpassen, geen advertenties krijgen, meerdere websites hebben en meer opslag ruimte krijgen.
      Voor ervaren en niet ervaren gebruikers. Creatief in eigen designs/templates en makkelijk in gebruik.
      </p>
      <p>blabla nog meer tekst + links</p>
      <img src="https://via.placeholder.com/500x200"></img>
    </article>

</section>
